# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtualenv
env/
venv/
ENV/
.venv/
.Python

# OS files
.DS_Store
Thumbs.db

# IDE/editor konfiguratsiyalari
.vscode/
.idea/

# Token va maxfiy fayllar
.env

# Loyihadagi vaqtinchalik fayllar
data/
bot.log
